@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
   /* Carousel Container */

   .carousel {
    @apply relative w-full h-[100vh] 
  }
  .carousel-indicators {
    @apply flex justify-center w-full absolute z-50 bottom-24 
  }

  .carousel-indicators-2 {
    @apply flex justify-center w-full absolute z-50 -mt-10
  }
  
  .indicator {
    @apply w-[15px] h-[15px] rounded-full bg-white m-2 cursor-pointer
  }
  
  .indicator.active {
    @apply bg-[#298BD9]
  }
  
  .carousel-slides {
    @apply relative w-full h-full
  }
  
  .slide {
    transition: opacity 0.5s;
    background-size: cover;
    background-position: center;
    @apply absolute opacity-0 w-full h-full
  }
  
  .slide.active {
    opacity: 1;
  }

    .carousel_button{
        @apply flex gap-5 absolute bottom-[50%] justify-between w-full px-10
    }

    .carousel_button button{
      box-shadow:0 0 10px #0000005d;
        @apply border-[#298BD9] border p-5 rounded-full text-[#298BD9] 
         duration-300 hover:bg-[#298BD9] hover:text-white
    }
    
    .form_container{
        @apply absolute top-0 bg-[#00000041] z-40 right-0 h-full w-[40%]
       flex flex-col items-center pt-20 lg:w-[30%]
    }

    .form_container img{
        @apply w-[170px]
    }

    .form_title{
        @apply text-white font-manrope
    }

    .form_title h2{
        @apply text-[1.5rem]
    }

    .form_title p{
        @apply text-sm
    }

    .form_form_wrapper{
        @apply flex flex-col gap-10  w-[60%] mt-5 cursor-pointer
    }
   
    .form_form_wrapper form{
        @apply flex flex-col  gap-10
    }

    .form_form_wrapper form .input{
        @apply bg-[#ffffff41] p-3 rounded-[5px] outline-0 
    }


    .form_button{
        @apply flex flex-col items-center gap-3 font-manrope
    }

    .form_button .btn_login{
        background: linear-gradient(93deg, #298BD9 0%, #33C0E4 100%);
        @apply w-full p-3 rounded-[10px] text-white font-medium
    }

    .form_button .btn_register{
        @apply w-full rounded-[5px] text-center  border-white border p-3 text-white
    }

    .form_register_wrapper {
      @apply p-10 flex flex-col 
      font-manrope gap-5 overflow-hidden text-white bg-[#001529d9] 
    }
    
    .form_register_wrapper h2{
      @apply text-[1.5rem] font-semibold 
    }

    .form_register_wrapper form {
      @apply flex flex-col w-[500px] overflow-y-auto gap-5 ;
    }
    

    .form_register_wrapper form input{
      @apply bg-[#03030341]  p-3 rounded-[5px] outline-0  
    }

    .form_register_wrapper form .birth_date{
      @apply bg-[#03030341]  py-6 text-[#ffffff90] rounded-[5px] outline-0  
    }
    
    .form_register_wrapper form .form-select{
      @apply bg-[#03030341] border-0 text-[#ffffff90] p-3 rounded-[5px] outline-0  
    }

    .form_register_wrapper form select option{
      background-color: #050505dd !important;
    }


    .image_input_box{
     @apply  border rounded-[7px] p-10 flex items-center justify-center
    }

    .button_signin{
      @apply border border-[#33C0E4] flex items-center justify-center p-2  rounded-[7px]
      text-[#33C0E4] hover:bg-slate-700 duration-300 cursor-pointer
    }

    .btn_form_adduser{
      @apply flex items-center justify-center gap-3 cursor-pointer
    }

    .btn_form_adduser .add{
      background: linear-gradient(93deg, #298BD9 0%, #33C0E4 100%);
      @apply w-full p-3 rounded-[7px] text-white font-semibold
    }

    .btn_form_adduser .cancel{
      @apply  text-[#33C0E4] border border-[#33C0E4] w-full p-3 
      rounded-[7px]  font-semibold text-center 
      hover:bg-slate-700 duration-300 
    }

    .login_navbar{
      @apply p-3 flex items-center justify-between px-10 sticky top-0 z-50 bg-white
    }

    .login_nav_btn_wrapper{
      @apply flex gap-5
    }
    
    .login_nav_btn_wrapper button{
      @apply flex border p-3 w-[150px] rounded-[10px] font-manrope 
      items-center justify-center text-white font-semibold
    }
    
    .login_nav_btn_wrapper .btn_1{
      background: linear-gradient(93deg, #298BD9 0%, #33C0E4 100%);
      
    }

 

    .login_nav_btn_wrapper .btn_2{
      @apply text-[#298BD9] border border-[#298BD9] hover:bg-gray-800 duration-300
    }

    .login_form_wrapper{
      @apply p-10 bg-[#001529d9]  text-white font-manrope flex flex-col gap-3 w-[500px]
    }
   

    .login_form_wrapper h2{
      @apply text-xl font-bold
    }

    .login_form_wrapper p{
      @apply text-sm font-light
    }

    .login_form input{
      @apply text-black
    }
  

    .login_form{
      @apply flex flex-col gap-3 
    }

    .login_form input{
      @apply p-4 rounded-[10px]
    }

    .error-message{
      @apply text-red-500 font-bold font-manrope
    }
}


.login_form_wrapper .MuiOutlinedInput-input{
  color: #fff !important;
}



.login_form_wrapper .MuiInputLabel-root{
  color: #fff !important;
  
}









  .form_register_wrapper form {
      scrollbar-width: thin;
      scrollbar-color: #999 transparent; /* You can adjust the colors as needed */
    }

  .form_register_wrapper form::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }

  .form_register_wrapper form::-webkit-scrollbar-thumb {
    background-color: #999; /* Color of the thumb */
    border-radius: 2px; /* Radius of the thumb */
  }

  .form_register_wrapper form::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the track */
  }


.button_register{
  background: linear-gradient(93deg, #298BD9 0%, #33C0E4 100%) !important;
  color: #fff; 
  padding:10px;
  border-radius: 7px;/* Change this to your desired gray color */
}

.button_register:disabled {
  opacity: 0.5;


}



.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  border-radius: 20px !important;
}









.dropzone {
  border: 2px solid #cccccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #EAEAEC;
}

.dropzone-active {
  border: 2px solid #298BD9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #73cfe6;
}

.choose-image-button {
  border-radius: 7px;
  color: #fff;
  background: linear-gradient(90deg, #298BD9 0%, #33C0E4 100%);
  cursor: pointer;
  padding: 10px;
}

.selected-image {
  max-width: 100%;
  max-height: 100px;
  margin-top: 10px;
}

